*{
	box-sizing: border-box;
	margin: 0px;
	font-family: sans-serif;
}

.navmenu{
	font-size: 25px;
	color: black;
	font-weight: bolder;
}
.logo{
	font-size: 35px	;
	font-family: elephant;
	font-variant: small-caps;
	color: midnightblue;
}
.sections-menu{
	position: relative;
	top: 100px;
}
.sections-menu div{
	height: 400px;
	width: 100%;
	border: 2px solid black;

}
.navbar{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
	width: 100%;
}
html{
	scroll-behavior: smooth;
}